* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  html {
    scroll-behavior: smooth ;
  }
  
  :root {
    --green: #299e63;
  }
  
  li a {
    text-decoration: none;
    font: 16px "Red Hat Text", sans-serif;
    color: rgb(117, 117, 117);
    font-weight: 400;
  }
  
  li a:hover {
    color: var(--green);
  }
  
  nav {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
  }
  
  nav ul {
    display: flex;
  }

  .judul {
    color: var(--green);
    font-size: 25px;
    font-weight: bold;
  }

  /* ========= CANVAS =========  */

  #btn-canvas {
    display: none;
    font-size: 35px;
    border: none;
    color: var(--green);
  }
  
  .offcanvas-header {
    display: flex;
    justify-content: start;
  }
  
  .offcanvas-header button {
    left: 20px;
    top: 20px;
    position: absolute;
  }
  
  .offcanvas {
    position: relative;
    left: 180px;
  }


  /* =========== HERO =========== */

  .hero {
    height: 100vh;
    max-height: 700px;
    overflow: hidden;
    background-size: cover;
    background-image: url(image/canvas.jpg);
    /* background-color: var(--green); */
    width: 100%;
  }

  #logo {
    position: absolute;
    top: 120px;
    right: 20px;
    margin: auto;
    width: auto;
    height: 100px;
  }

  .about {
    width: 100%;
    box-sizing: border-box;
    max-width: 1400px;
    height: 100vh;
    max-height: 800px;
    margin-bottom: 100px;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
  }

  .img-about {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  .img-about img {
    width: 400px;
  }



  /* ========== FOOTER ========== */


.footer-basic {
    padding:40px 0;
    background-color:#27ac5d;
    color:#fff;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }











  @media only screen and (max-width: 875px) {




    nav {
      min-width: 350px;
    }
  
    header nav .list-xl {
      display: none;
    }
  
    #btn-canvas {
      display: flex;
    }
  
    .offcanvas-header h5 {
      color: var(--green);
    }
}





@media only screen and (max-width: 447px){
  
    #logo {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      margin: auto;
      width: 70px;
      height: 70px;
    }
  }